.title-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 600px;
  height: fit-content;
  position: relative;
  padding: 20px 30px 30px 30px;
  border-radius: 10px;

  @media screen and (max-width: 700px) {
    width: 400px;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 500px) {
    width: 300px;
  }

  @media screen and (max-width: 500px) {
    width: 230px;
  }

  .logoMaster {
    width: 40px;
    position: absolute;
    right: 48%;
    top: -10%;

    @media screen and (max-width: 700px) {
      right: 47%;
      top: -9%;
    }

    @media screen and (max-width: 500px) {
      right: 45%;
      top: -9%;
    }
  }

  h2 {
    margin: 20px 0 4px 0;

    @media screen and (max-width: 700px) {
      text-align: center;
    }

    @media screen and (max-width: 500px) {
      font-size: 20px;
      margin: 10px 0;
    }
  }

  p {
    margin: 4px 0;
    @media screen and (max-width: 700px) {
      text-align: center;
    }

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }

  .footer-title-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;

    @media screen and (max-width: 700px) {
      align-items: center;
      justify-content: center;
    }

    button {
      padding: 16px 20px;
      border-radius: 20px;
      border: none;
      color: white;
      font-weight: 700;
      background-color: $ModerateCyan;
      cursor: pointer;
      font-family: $Commissioner;

      @media screen and (max-width: 700px) {
        width: 200px;
      }

      @media screen and (max-width: 500px) {
        width: 100%;
      }

      &:hover {
        background-color: $DarkCyan;
      }
    }

    .bookmaked {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 700px) {
        width: 100%;
      }

      @media screen and (max-width: 500px) {
        width: 40%;
      }

      .logo-bookmaked-box {
        position: absolute;
        top: -21%;
        left: -5%;

        @media screen and (max-width: 700px) {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          position: relative;
          top: 0;
          left: 0;
          width: 80%;
        }

        @media screen and (max-width: 500px) {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
        }

        .cirle {
          fill: $ModerateCyan;
        }

        .circle-selected {
          fill: black;
        }

        .path {
          fill: rgb(251, 247, 247);
        }

        .path-selected {
          fill: rgb(180, 177, 177);
        }
      }

      .bookmark-border {
        background-color: rgb(251, 247, 247);
        padding: 18px 14px 18px 55px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $DarkGray;
        font-weight: 700;

        @media screen and (max-width: 700px) {
          display: none;
        }
      }

      .bookmark-selected {
        color: $ModerateCyan;
        fill: rgb(180, 177, 177);
        @media screen and (max-width: 700px) {
          display: none;
        }
      }
    }
  }
}
