.title-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 600px;
  height: fit-content;
  position: relative;
  padding: 20px 30px 30px 30px;
  border-radius: 10px;

  .logoMaster {
    width: 40px;
    position: absolute;
    right: 48%;
    top: -10%;
  }

  h2 {
    margin: 20px 0 4px 0;
  }

  p {
    margin: 4px 0;
  }

  .footer-title-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;

    button {
      padding: 16px 20px;
      border-radius: 20px;
      border: none;
      color: white;
      font-weight: 700;
      background-color: $ModerateCyan;
      cursor: pointer;
      font-family: $Commissioner;

      &:hover {
        background-color: $DarkCyan;
      }
    }

    .bookmaked {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      position: relative;
      cursor: pointer;

      div {
        position: absolute;
        top: -21%;
        left: -5%;

        .cirle {
          fill: $ModerateCyan;
        }

        .circle-selected {
          fill: $DarkGray;
        }

        .path {
          fill: rgb(251, 247, 247);
        }

        .path-selected {
          fill: rgb(180, 177, 177);
        }
      }

      .bookmark-border {
        background-color: rgb(251, 247, 247);
        padding: 18px 14px 18px 55px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $DarkGray;
        font-weight: 700;
      }

      .bookmark-selected {
        color: $ModerateCyan;
        fill: rgb(180, 177, 177);
      }
    }
  }
}
